<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>抽屉</title>
    <link rel="stylesheet" type="text/css" href="css/ionic.min.css" />
    <!-- <script src="js/ionic.bundle.min.js"></script> -->
    <script src="js/ionic.bundle-PopupNightly.js"></script>
    <script src="js/An alert dialog.js"></script>
    <script type="text/javascript">
    angular.module('ionicApp', ['ionic'])

    .controller('MyCtrl', function($scope) {

    });
    </script>


    <style>
    body {
    cursor: url('https://www.runoob.com/static/img/finger.png'), auto;
    }
    .scroll-content {
      background-color: white;
    }
    .article {
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .item{
      border:none;
    }
    .bar.bar-light{
      background: #fff;
    }

    .has-header{
      top: 0;
    }

    .button.button-positive {
     border-color: transparent;
     background-color: #d87316;
    }

    .button.button-positive.active, .button.button-positive.activated {
      border-color: #a2a2a2;
      background-color: #b86212; 
    }

    </style>
</head>
<body style="background:#efefef;">

          <!--这里是头部-->
          <!-- <ion-header-bar class="bar bar-header bar-light">
            <div class=logo_chouti style="margin:0 auto;">
               <img src="images/locker-06.png" style="height:70%;margin-top:5px;">
            </div>
          </ion-header-bar> -->

          <!--这里是文章-->
          <ion-content>

             <div class="mian-article" style="margin-top: 30px;">


                <!--顶部标题-->
                <div>
                  <img src="images/locker-06.png" style="margin: 0px 0 0 24px;width: 30%;">
                  <h1 style="margin: 20px 0 24px 24px;font-size: 2em;"><bold>抽屉欢迎你</bold></h1>
                </div>


                <!--Pinterest如何提升首页效率-->
                <div class="article">
                     <a href="posts/20171014.html">
                        <div class="item item-image" style="border-radius: 4px;">
                           <img src="images/article/20171014/cover.jpg">
                        </div>
                     </a>
                </div>


                <!--卡片阅读模块-->
                <h1 style="margin: 35px 0 0px 24px;font-size: 2em;">探索</h1>
                <div class="article">
                  <div class="item item-image" style="text-align: left;">

                      <ion-scroll zooming="true" direction="x" scrollbar-x="false" scrollbar-y="false" style="width: 386px; height: 130px;">
                        <div style="width: 410px; height: 130px;">
                          <ul style="display: flex;">

                            <!--第一张卡片（封面）-->
                            <!-- <div ng-controller="PopupCtrl" style="margin-right: 5px;">
                              <a href="#" ng-click="showAlert()">
                                <img style="border-radius: 0px; width:270px; height:270px;     margin-right: 10px;" src="images/article/20170717/card01.jpg"> 
                              </a>
                            </div> -->

                            <!--用户体验-->
                            <li style="margin-right: 10px;">
                              <div ng-controller="PopupCtrl">
                                    <div href="#" ng-click="showAlert()" class="list card" style="width: 130px; height: 130px; margin: 0; padding: 0; border-top: 1px solid #dadada; box-shadow: none;">

                                        <div class="item item-body" style="height: 129px; padding: 0px 0px; margin-top: 0; border: 1px solid #dadada;border-radius: 4px;">
                                          <img class="full-image" style="border-radius: 0px; height: 70px;" src="images/ArticleCatalog/1.png">
                                          <p style="padding: 20px 10px 10px; margin: 0; font-size: 13px;color: #000;">
                                            <strong>体验设计</strong>
                                          </p>
                                        </div>
                                    </div> 
                              </div>
                            </li>

                            <!--alert点击弹窗js-->
                             <script type="text/javascript">
                                angular.module('ionicApp', ['ionic'])
                                .controller('PopupCtrl',function($scope, $ionicPopup, $timeout) {
                                 // Triggered on a button click, or some other target
                                 $scope.showPopup = function() {
                                   $scope.data = {}

                                   // An elaborate, custom popup
                                   var myPopup = $ionicPopup.show({
                                     template: '<input type="password" ng-model="data.wifi">',
                                     title: 'Enter Wi-Fi Password',
                                     subTitle: 'Please use normal things',
                                     scope: $scope,
                                     buttons: [
                                       { text: 'Cancel' },
                                       {
                                         text: '<b>Save</b>',
                                         type: 'button-positive',
                                         onTap: function(e) {
                                           if (!$scope.data.wifi) {
                                             //don't allow the user to close unless he enters wifi password
                                             e.preventDefault();
                                           } else {
                                             return $scope.data.wifi;
                                           }
                                         }
                                       },
                                     ]
                                   });
                                   myPopup.then(function(res) {
                                     console.log('Tapped!', res);
                                   });
                                   $timeout(function() {
                                      myPopup.close(); //close the popup after 3 seconds for some reason
                                   }, 3000);
                                  };


                                   // An alert dialog
                                   $scope.showAlert = function() {
                                     var alertPopup = $ionicPopup.alert({
                                       title: 'Opps',
                                       template: '尚未开放~',
                                       okText: '明白了'
                                     });
                                     alertPopup.then(function(res) {
                                       console.log('Thank you for not eating my delicious ice cream cone');
                                     });
                                   };
                                });
                             </script>
          
                            
                            <!--设计法则-->
                            <li style="margin-right: 10px;">
                              <div ng-controller="PopupCtrl">
                                    <div href="#" ng-click="showAlert()" class="list card" style="width: 130px; height: 130px; margin: 0; padding: 0; border-top: 1px solid #dadada; box-shadow: none;">

                                        <div class="item item-body" style="height: 129px; padding: 0px 0px; margin-top: 0; border: 1px solid #dadada;border-radius: 4px;">
                                          <img class="full-image" style="border-radius: 0px; height: 70px;" src="images/ArticleCatalog/2.png">
                                          <p style="padding: 20px 10px 10px; margin: 0; font-size: 13px;color: #000;">
                                            <strong>设计法则</strong>
                                          </p>
                                        </div>
                                    </div> 
                              </div>
                            </li>

                            <!--可用性-->
                            <li style="margin-right: 10px;">
                              <div ng-controller="PopupCtrl">
                                    <div href="#" ng-click="showAlert()" class="list card" style="width: 130px; height: 130px; margin: 0; padding: 0; border-top: 1px solid #dadada; box-shadow: none;">

                                        <div class="item item-body" style="height: 129px; padding: 0px 0px; margin-top: 0; border: 1px solid #dadada;border-radius: 4px;">
                                          <img class="full-image" style="border-radius: 0px; height: 70px;" src="images/ArticleCatalog/3.png">
                                          <p style="padding: 20px 10px 10px; margin: 0; font-size: 13px;color: #000;">
                                            <strong>可用性</strong>
                                          </p>
                                        </div>
                                    </div> 
                              </div>
                            </li>



                          </ul> 
                        </div>
                      </ion-scroll>
                  </div>
                </div>
 

                <h1 style="margin: 35px 0 0px 24px;font-size: 2em;">阅读推荐</h1>
                <!--Dseign Thinking:同理心-->
                <div class="article">
                     <a href="posts/20170722.html">
                        <div class="item item-image" style="border-radius: 4px;">
                           <img src="images/article/20170722/cover.jpg">
                        </div>
                     </a>
                </div>



                <!--交互设计第六原则：约束-->
                <div class="article">
                     <a href="posts/20170627.html">
                        <div class="item item-image" style="border-radius: 4px;">
                           <img src="images/article/20170627/cover.jpg">
                        </div>
                     </a>
                </div>


                <!--五个交互的基本原则-->
                <div class="article">
                     <a href="posts/20170619.html">
                        <div class="item item-image" style="border-radius: 4px;">
                           <img src="images/article/20170619/cover.jpg">
                        </div>
                     </a>
                </div>  

                
                <!--卡片式界面设计-->
                <div class="article">
                     <a href="posts/20170621.html">
                        <div class="item item-image" style="border-radius: 4px;">
                           <img src="images/article/20170621/cover.jpg">
                        </div>
                     </a>
                </div>    


                <!--如何帮用户做更聪明的选择-->
                <div class="article">
                     <a href="posts/20170521.html">
                        <div class="item item-image" style="border-radius: 4px;">
                           <img src="images/article/20170521/cover.jpg">
                        </div>
                     </a>
                </div>   

                <!--简述响应式导航设计-->
                <div class="article">
                     <a href="posts/A Brief Overview On Responsive Navigation Patterns.html">
                        <div class="item item-image" style="border-radius: 4px;">
                           <img src="images/article/A Brief Overview On Responsive Navigation Patterns/cover.jpg">
                        </div>
                     </a>
                </div>

                <!--响应式网页设计-->
                <div class="article">
                     <a href="posts/Responsive Web Design.html">
                        <div class="item item-image" style="border-radius: 4px;">
                           <img src="images/article/响应式网页设计/cover.jpg">
                        </div>
                     </a>
                </div>       

                <!--轮播图的十条规则-->
                <div class="article">
                     <a href="posts/轮播图的十条规则.html">
                        <div class="item item-image" style="border-radius: 4px;">
                           <img src="images/article/轮播十条规则/cover.jpg">
                        </div>
                     </a>
                </div>      


             </div>





             <div class="_blank" style="height:50px;padding-top:30px;color:#cfcfcf;">
                <p style="text-align:center;">—没有了还翻什么—</p>
             </div>
          </ion-content>
          
          <!--这里是底部TAB-->
          <div class="tabs-striped tabs-color-assertive" style="color: #ff3728;border: 0 solid #ff3728;">
            <div class="tabs">
              <a class="tab-item active" href="index.html">
                博客
              </a>

              <a class="tab-item" href="layouts/about.html">
                关于
              </a>
            </div>
          </div>
</body>
</html>
